<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Перечень документов работника ${worker.lastName} ${worker.firstName}</title>
</head>
<body>
<nav class="topNav">
    <ul>
        <ln><a href="/workers">Работники</a></ln>
        <ln><a href="/documents">Документы</a></ln>
        <ln><a href="/subunits">Подразделения</a></ln>
    </ul>
</nav>
<h2>Работник : ${worker.lastName} ${worker.firstName}.</h2>
<p>
    <ul>
    <ln>Фамилия : ${worker.lastName}</ln>
    <ln>Имя : ${worker.firstName}</ln>
</ul>
</p>
<h1>Список документов в которых работник автор</h1>
<table>
    <tr>
        <th>№ документа</th>
        <th>Название</th>
        <th>Вид документа</th>
        <th>Автор документа</th>
        <th>Работник, подписавший документ</th>
    </tr>
    <#list docs_author as document_author>
        <tr>
            <td>${document_author.id}</td>
            <td>${document_author.name}</td>
            <td>${document_author.documentType}</td>
            <td>${document_author.author.lastName}<br>${document_author.author.firstName}</td>
            <td>${document_author.signer.lastName}<br>${document_author.signer.firstName}</td>
        </tr>
    </#list>
</table>
<h1>Список документов которые подписаны работником</h1>
<table>
    <tr>
        <th>№ документа</th>
        <th>Название</th>
        <th>Вид документа</th>
        <th>Автор документа</th>
        <th>Работник, подписавший документ</th>
    </tr>
    <#list docs_signer as document_signer>
        <tr>
            <td>${document_signer.id}</td>
            <td>${document_signer.name}</td>
            <td>${document_signer.documentType}</td>
            <td>${document_signer.author.lastName}<br>${document_signer.author.firstName}</td>
            <td>${document_signer.signer.lastName}<br>${document_signer.signer.firstName}</td>
        </tr>
    </#list>
</table>
<#if errors??>
    <h1 style="color: red">${errors}</h1>
</#if>
</body>
</html>